*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
}
#header{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}
.logo{
    font-family:cursive;
    font-size: 35px;
    font-weight: 700;
}
.logo span{
    font-family:cursive;
    font-size: 60px;
    color: #ff004f;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3 ease;
}
.nav li a:hover,
.nav li a.active{
    color: #088178;
}
.nav li a:hover::after,
.nav li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
